//Используем font-weight: 500, 600
*
  box-sizing: border-box
  font-family: 'Quicksand', sans-serif

p, body, h1, h2
  margin: 0
  padding: 0

a
  text-decoration: none
  color: inherit

button
  font-family: inherit
  background-color: transparent
  border: none
  outline: none
  cursor: pointer

$transition-time: 0.4s

//checkbox
$checkbox-brown: #aa9b77
$checkbox-grey: #cccccc
$checkbox-white: white

.checkbox
  display: inline-block

  &-input
    display: none

  &-myCheckbox
    position: relative
    display: flex
    align-items: center

    cursor: pointer

    font-size: 18px
    font-weight: 600
    text-transform: uppercase
    line-height: 18px

  &-myCheckbox::before
    content: ""
    background-color: $checkbox-white

    display: inline-block
    width: 25px
    height: 25px

    border: 2px solid $checkbox-grey
    border-radius: 4px

    margin-right: 15px //Отступ от checkbox

  &-myCheckbox::after
    content: none

    position: absolute
    top: 6px
    left: 4px

    display: inline-block
    height: 9px
    width: 17px

    border-left: 3px solid $checkbox-brown
    border-bottom: 3px solid $checkbox-brown
    transform: rotate(-45deg)

.checkbox-input[type="checkbox"]:checked + .checkbox-myCheckbox::after
  content: ""

.checkbox-input[type="checkbox"]:checked + .checkbox-myCheckbox::before
  border-color: $checkbox-brown

//button
$button-brown: #aa9b77
$button-text-white: white

.button
  width: 200px
  height: 50px

  border-radius: 3px

  background-color: $button-brown

  color: $button-text-white

  text-transform: uppercase
  font-size: 14px
  font-weight: 500

  transition: background-color $transition-time, border $transition-time, color $transition-time

  &:hover
    background-color: white
    border: 1px solid black
    color: black

//h1
$h1-white: white

.h1
  font-size: 60px
  color: $h1-white

//Карточка товара
$productCard-grey: #f5f6f7
$productCard-black: black
$productCard-brown: #aa9b77

.productCard
  position: relative

  width: 320px
  height: 380px

  background-color: $productCard-grey

  transition: box-shadow $transition-time

  cursor: pointer

  display: flex
  justify-content: center
  align-items: center

  &:hover
    box-shadow: 0 0 0 6px $productCard-brown

  &-size
    position: absolute
    top: 25px
    left: 25px

    width: 50px

    font-size: 16px
    font-weight: 600
    text-transform: uppercase

    display: flex
    align-items: center

    &::after
      content: ""

      position: absolute
      right: 0
      top: 4px

      display: inline-block
      height: 9px
      width: 9px

      border-left: 1.3px solid $productCard-black
      border-bottom: 1.3px solid $productCard-black

      transform: rotate(-45deg)

  &-color-block
    position: absolute
    top: 25px
    right: 25px
    display: flex

  &-color
    margin-left: 5px

    width: 20px
    height: 20px

    border-radius: 50%

    &:first-child
      margin-left: 0


  &-name
    position: absolute
    bottom: 25px
    left: 25px

    color: $productCard-brown
    text-transform: uppercase
    font-size: 18px
    font-weight: 600

  &-price
    position: absolute
    bottom: 25px
    right: 25px

    font-size: 22px
    font-weight: 600


.bg-black
  background-color: black

.bg-blue
  background-color: #165eb9

.bg-yellow
  background-color: #ffe637

.bg-grey
  background-color: #535253

.bg-pink
  background-color: #d3a7ac

.bg-white
  background-color: white

//Slider arrows block
$sliderNavigation-brown: #aa9b77

.sliderNavigation
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

  width: 33px

  &-nums
    color: $sliderNavigation-brown
    font-weight: 600

    margin-bottom: 5px

  &-buttons
    width: 100%
    display: flex
    justify-content: space-between

//header
$header-white: white
$header-black: black

.header
  background-image: url("../img/headerBg.jpg")
  background-size: cover

  &-container
    padding: 40px 0 40px 0
    height: 790px

    display: flex
    flex-direction: column
    justify-content: space-between


  &-block
    width: 260px
    display: flex
    justify-content: space-between

  &-a
    color: $header-white
    font-size: 18px
    font-weight: 600
    transition: all 0.4s
    transition: color $transition-time

    &:hover
      color: $header-black

  &-h1
    margin-bottom: 10px

  &-p
    font-size: 20px
    font-weight: 300

    letter-spacing: 1px
    line-height: 25px

    text-align: center
    color: $header-white


//shopping - cart svg
.shopping-cart
  cursor: pointer
  transition: fill $transition-time
  &:hover
    fill: $header-black

//categories
$categories-grey: #f5f6f7

.categories
  display: flex
  align-items: center

  min-height: 145px

  background-color: $categories-grey

  &-block
    min-width: 410px

    display: flex
    justify-content: space-between

//category
.category
  position: relative

  &::before
    content: ""
    z-index: -1

    position: absolute
    top: 50%
    right: 0

    width: 100%
    height: 2px
    background-color: #cccccc

  &-text
    font-size: 20px
    font-weight: 600
    background-color: white
    text-transform: uppercase


.category-right
  &-text
    padding-right: 50px


.category-left
  display: flex
  justify-content: flex-end
  &-text
    padding-left: 50px



//products
.products
  padding: 90px 0 130px 0

  &-block
    margin-bottom: 90px

    &:last-of-type
      margin-bottom: 0

  &-category
    margin-bottom: 50px

  &-sliderNavigation
    margin-bottom: 20px


//about us
$aboutUs-bg: #aa9b77
$aboutUs-brown: #837659

.aboutUs
  padding: 80px 0 70px 0

  background-color: $aboutUs-bg

  text-align: center

  &-block
    position: relative
    padding: 80px 55px

    border: 2px solid $aboutUs-brown

  &-p
    font-weight: 500

  &-h2
    font-size: 20px
    color: $aboutUs-brown
    text-transform: uppercase

    position: absolute
    top: -15px
    left: 50%
    margin-left: -65px

    background-color: $aboutUs-bg

    padding: 0 15px

//footer
$footer-brown: #837659
.footer
  padding: 30px 0
  background-color: #424242
  text-transform: uppercase
  font-size: 16px
  font-weight: 400
  color: white

  &-nav
    display: flex
    justify-content: space-between

  &-a
    margin-right: 15px
    transition: color $transition-time
    &:hover
      color: $footer-brown

  &-trekking
    transition: color $transition-time
    &:hover
      color: $footer-brown

    &:last-of-type
      margin-right: 0